<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="NServiceBus" type="NServiceBus.Config.ConfigurationSection, NServiceBus.Core" />
	</configSections>
	<NServiceBus>
		<connectionStrings>
			<add name="NServiceBus/Transport" connectionString="Data Source=TheKillerCode;Initial Catalog=Cja_SistemaBancario;Integrated Security=True" />
			<add name="NServiceBus/Persistence" connectionString="Data Source=TheKillerCode;Initial Catalog=Cja_SistemaBancario;Integrated Security=True" />
		</connectionStrings>

		<endpointConfig>
			<transportConfig>
				<transport type="SqlServer" connectionStringName="NServiceBus/Transport" />
			</transportConfig>
			<persistenceConfig>
				<persistence type="Sql" connectionStringName="NServiceBus/Persistence" />
			</persistenceConfig>
		</endpointConfig>
	</NServiceBus>
	<!-- Otras secciones de configuración del proyecto -->
</configuration>